<link rel="stylesheet" href="/css/cards.css"> 
        {{#each statistics}}
                <div class="card-body">
                    <p>{{id_player}}</p>
                    <p >{{id_statistic }}</p>
                    <p >{{swing }}</p>
                    <p >{{threw }}</p>
                    <p >{{happens }}</p>
                    <p >{{agility}}</p>
                    <p >{{defending}}</p>
                    <p >{{physical }}</p>
                    <center>
                        <a href="/statistics/delete-statistics/{{id}}" class="danger">Eliminar</a>
                        <a href="/statistics/edit-statistic/{{id}}" class="secondary">Editar</a>
                    </center>
                </div>
            </div>
        </div>
        {{else}}

                <p>No hay registro guardados a un </p>
                <a href="/statistics"> Agrega uno haciendo click aqui </a>

        {{/each}}

    </div>
