<link rel="stylesheet" href="/css/player.css">
            <div class="card-body">
                <form action="/teams/edit-team/{{team.id}}" method="POST">
                <div id="logo"></div>
                    <div id="title">Crear</div>
                    <div id="sub-title">Experiencia</div>
                    <div id="input">
                        <div id="inputBox">
                            <label>Nombre del Equipo</label>
                            <input type="text" value="{{team.squad}}" class="form-control" name="squad"
                                placeholder="Nombre del Equipo" autofocus>
                        </div>
                        <div id="inputBox">
                            <label>Nombre del Dueño</label>
                            <input type="text" value="{{team.boss}}" name="boss" class="form-control"
                                placeholder="Nombre del dueño del equipo ">
                        </div>
                        <div id="inputBox">
                            <label>Nombre del Entrenador</label>
                            <input type="text" value="{{team.coach}}" name="coach" class="form-control"
                                placeholder="Nombre del entrenador del equipo ">
                        </div>
                        <div id="inputBox">
                            <label>Fecha de fundacion</label>
                            <input type="date" value="{{team.foundation}}" name="foundation" class="form-control"
                                placeholder="Fecha de fundacion ">
                            <div id="inputBox">
                                <input type="submit" value="Guardar" />
                            </div>
                </form>
            </div>
        </div>
    </div>
</div>