<link rel="stylesheet" href="/css/cards.css">
{{#each teams}}
<div class="card-body">
    <p>{{squad}}</p>
    <p>{{boss}}</p>
    <p>{{coach}}</p>
    <p>{{timeago fecha}}</p>
    <center>
        <a href="/teams/delete-teams/{{id}}" class="danger">Eliminar</a>
        <a href="/teams/edit-team/{{id}}" class="secondary">Editar</a>
    </center>
</div>
</div>
</div>
{{else}}
<p>No hay registro guardados a un </p>
<a href="/teams"> Agrega uno haciendo click aqui</a>
{{/each}}