
    <div class="row">
        {{#each teams}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card text-uppercase">
                        {{squad}}
                    </h3>
                    <p class="m-2">{{boss}}</p>
                    <p class="m-2">{{coach}}</p>
                    <p class="m-2">{{timeago fecha}}</p>
                    <a href="/links/delete-teams/{{id}}" class="btn btn-danger">Eliminar</a>
                    <a href="/links/edit-teams/{{id}}" class="btn btn-secondary">Editar</a>

                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay registro guardados a un </p>
                <a href="/teams"> Agrega uno haciendo click aqui</a>
            </div>
        </div>
        {{/each}}       
    </div>
