<link rel="stylesheet" href="/css/player.css">
            <div class="card-body">
                    <form action="/players/edit-player/{{player.id}}" method="POST">
                    <div id="title">Crear</div>
                    <div id="sub-title">Experiencia</div>
                    <div id="input">
                        <div id="inputBox">
                            <label>Nombre del Jugador</label>
                             <input type="text" value="{{player.playername}}" name="playername" class="form-control"
                                placeholder="Nombre del Jugador"/>
                        </div>
                        <div id="inputBox">
                            <label>Apellido del jugador</label>
                            <input type="text" value="{{player.surnameplayer}}" name="surnameplayer" class="form-control"
                                placeholder="Apellido del jugador"/>
                        </div>
                         <div id="inputBox">
                            <label>Posición del Jugador</label>
                            <input type="text" value="{{player.playerposition}}" class="form-control" name="playerposition"
                                placeholder="Posición del Jugador" autofocus/>
                        </div>
                         <div id="inputBox">
                            <label>Altura del jugador</label>
                            <input type="text" value="{{player.playerheight}}" name="playerheight" class="form-control"
                                placeholder="Altura del jugador"/>
                        </div>
                         <div id="inputBox">
                            <label>Edad del jugador</label>
                             <input type="text" value="{{player.playerage}}"  name="playerage" class="form-control" placeholder="Edad del jugador"/>
                        </div>
                        <div id="inputBox">
                            <input type="submit" value="Guardar" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
