<div class="container p-4">
    <div class="row">
        {{#each players}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card text-uppercase">
                        {{playername}}
                    </h3>
                    <p class="m-2">{{surnameplayer}}</p>
                    <p class="m-2">{{playerposition}}</p>
                    <p class="m-2">{{playerheight}}</p>
                    <p class="m-2">{{playerage}}</p>
                    <a href="/players/delete-playeres/{{id}}" class="btn btn-danger">Eliminar</a>
                    <a href="/players/edit-player/{{id}}" class="btn btn-secondary">Editar</a>

                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay registro guardados a un </p>
                <a href="/players"> Agrega uno haciendo click aqui</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>