<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/links/edit-equipo{{equipo.id}}" method="POST">
                        <div class="form-group">
                            <h5 class="mt-3">Nombre del Equipo</h5>
                            <input type="text" value="{{equipo.equipo}}" class="form-control" name="equipo" placeholder="Nombre del Equipo"
                                autofocus>
                        </div>
                        <br>
                        <div class="form-grou">
                            <h5 class="mt-3">Nombre del Due単o</h5>
                            <input type="text" value="{{equipo.due単o}}" name="due単o" class="form-control"
                                placeholder="Nombre del due単o del equipo ">
                        </div>
                        <div class="form-grou">
                            <br>
                            <h5 class="mt-3">Nombre del Entrenador</h5>
                            <input type="text" value="{{equipo.entrenador}}" name="entrenador" class="form-control"
                                placeholder="Nombre del entrenador del equipo ">
                        </div>
                        <br>
                        <h5 class="mt-3">Fecha de fundacion</h5>
                        <input type="date" value="{{equipo.fecha}}" name="fecha" class="form-control" placeholder="Fecha de fundacion ">

                        <div class="form-group mt-3 d-grid">
                            <button type="submit" class="btn btn-success btn-block"> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>