<div class="container p-4">
    <div class="row">
        {{#each equipo}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card text-uppercase">
                        {{equipo}}
                    </h3>
                    <p class="m-2">{{dueño}}</p>
                    <p class="m-2">{{entrenador}}</p>
                    <p class="m-2">{{timeago fecha}}</p>
                    <a href="/links/delete-equipo/{{id}}" class="btn btn-danger">Eliminar</a>
                    <a href="" class="btn btn-secondary">Editar</a>

                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay registro guardados a un </p>
                <a href="/links/equipo"> Agrega uno haciendo click aqui</a>
            </div>
        </div>
        {{/each}}

       
    </div>
</div>