<div class="container p-4">
    <div class="row">
        {{#each jugador}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card text-uppercase">
                        {{nombrejugador}}
                    </h3>
                    <p class="m-2">{{posicionjugador}}</p>
                    <p class="m-2">{{apellidojugador}}</p>
                    <p class="m-2">{{alturajugador}}</p>
                    <p class="m-2">{{edadjugador}}</p>
                    <a href="/links/delete-jugador/{{id}}" class="btn btn-danger">Eliminar</a>
                    <a href="" class="btn btn-secondary">Editar</a>

                </div>
            </div>
        </div>

        {{/each}}
    </div>
</div>