<link rel="stylesheet" href="/css/cards.css">
{{#each teamstats}}
<div class="card-body">
    <p>
        {{teamvaluation}}
    </p>
    <p>{{teamchemistry }}</p>
    <p>{{teamwins }}</p>
    <center>
        <a href="/teamstats/delete-teamstats/{{id}}" class="danger">Eliminar</a>
        <a href="/teamstats/edit-teamstat/{{id}}" class="secondary">Editar</a>
    </center>
</div>
</div>
</div>
{{else}}
<p>No hay registro guardados a un </p>
<a href="/teamstats"> Agrega uno haciendo click aqui</a>

{{/each}}

</div>